header{
    background: #BBBBBB;
    padding: 20px 0; /*para aumentar um pouco o cabeçalho*/
}

.caixa{
    position: relative; /*para a caixa "levantar"em relacao ao nav*/
    width: 940px; /*largura padrao q se usa na web*/
    margin: 0 auto; /*para centralizar a caixa*/
}

nav{
    position: absolute; /*para mudar a posicao inicial do nav no navegador*/
    /*O menu(absolute em relação à caixa) estah agora colado na caixa(relative)*/

    /*se o nav estah dentro da caixa, precisamos que a caixa levante, ou seja,
    precisamos alterar a posicao da caixa para relative*/

    top: 110px; /*A imagem tem 240px de altura*/
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
}
nav a:hover{
    color: #C78C19;
    text-decoration: underline;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;/*para que o navegador não some
    o percentual + os pixels; devemos mudar a forma na qual o
    navegador pensa, para que o espaçamento lateral esteja dentro
    do percentual; para isso utiliza o box-sizing :border-box*/
    /*agora os 30% sao definitivos, sao sempre a largura e os
    pixels do padding estao dentro desses 30%*/
    border: 2px solid #000000;
    border-radius: 10px;
}
.produtos li:hover{
    border-color: #C78C19;
}
.produtos li:active{
    border-color: #088C19;
}
.produtos li:hover h2{ /*altera h2 qdo o mouse esta por cima de algum produto*/
    font-size: 35px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer{
    text-align: center;
    background: url(/imagens/bg.jpg);
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}